/* styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe {
    text-align: center;
    background-color: rgb(18, 89, 196);
    color: rgb(153, 153, 153);
    }

.menu {
    text-align: center;
    font-weight: bold;
}