/* styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe {
    text-align: center;
    background-color: rgb(18, 89, 196);
    color: rgb(153, 153, 153);
    }

.menu {
    text-align: center;
    font-weight: bold;
}

.lista-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.lista-menu li {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.lista-menu li img {
    max-width: 100%;
    margin-top: 10px; 
}